/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
    
}

/* min body height */

body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* general styling */
:root {
    --primary: hsl(24, 56%, 53%);
    --secondary: hsl(24, 80%, 71%);

    --hover: hsl(24, 80%, 80%);
    --shadow: rgba(0, 0, 0, .5);
    --white: hsl(240, 100%, 99%);
    --black: hsl(0, 0%, 15%);
    --grey: hsl(0, 0%, 46%);
    --background: var(--white);
    --frontground: var(--black);
    --header-foreground: var(--black);
    --header-foreground-border: none;
    --card-background: var(--white);
    --header: var(--white);
    --header-2: var(--black);
    --text: var(--black);
    --text-shadow: none;
    --accent: hsl(289, 83%, 20%);


}

.darkmode {
    --primary: hsl(289, 23%, 41%);
    --secondary: hsl(284, 77%, 76%);

    --hover: hsl(284, 77%, 86%);
    --shadow: none;
    --white: hsl(240, 1%, 68%);
    --black: hsl(0, 0%, 6%);
    --grey: hsl(0, 0%, 15%);
    --background: var(--black);
    --frontground: var(--grey);
    --header-foreground: none;
    --header-foreground-border: dotted 3px var(--secondary);
    --card-background: var(--black);
    --header: hsl(240, 2%, 91%);
    --header-2: hsl(240, 2%, 91%);
    --text: var(--white);
    --text-shadow: 0 0 10px var(--secondary);
    --accent: hsl(24, 80%, 75%);

}

body {
    font-family: 'Roboto Mono', monospace;
    color: var(--black);
    line-height: 1.5;
    
}

b {
    font-weight: bolder;
    font-size: 1.5rem;
    padding-bottom: 0.1rem;
    border-bottom: #fff 1px solid;
    
    
}

.light-switch {
    position: absolute;
    text-align: center;
    color: var(--text);
    transform: translateX(100%);

}

.change-theme__btn {

    padding: 0.5rem;
    border: none;
    background-color: var(--secondary);
    color: var(--black);

}

.change-theme__btn:hover {
    background-color: var(--hover);
}

.header {
    padding: 0 0 4rem 0;
    display: flex;
    flex-direction: column;
    position: relative;

}


.header-container {
    text-align: center;
    margin: 0 0 0 5rem;

    z-index: -1;
}

.header--background {

    background: var(--background);
    border-bottom: dashed 5px var(--frontground);
    box-shadow: 0 0 30px 10px var(--shadow);
    overflow: hidden;
    isolation: isolate;
}

.header--background::before {
    position: absolute;
    z-index: -1;
    content: '';
    inset: 0;
    transform: skewY(10deg) translateY(60%);
    background-color: var(--header-foreground);
    box-shadow: inset 0 25px 20px -28px var(--primary);
}

.header--background::after {
    position: absolute;
    z-index: -2;
    content: '';
    inset: 0;
    transform: skewY(-40deg) translateX(50%) translateY(60%);
    background-color: var(--header-foreground);
    box-shadow: inset 0 25px 20px -28px var(--primary);

}



.header-lamp-container {
    position: absolute;
    inset: 0;
    transform: translateX(50%);
    z-index: -1;



}

.header-lamp-container img {
    transform: translateY(-25%);
    box-shadow: 0 30px 20px -20px var(--primary);
}

.header-container__h1-hello {
    transform: rotate(10deg) translateY(90%) translateX(-10%);
    font-size: 5rem;
    color: var(--primary);




}


.header-container__p-name {
    transform: rotate(10deg) translateY(120%) translateX(-10%);
    font-size: 2.5rem;
    white-space: nowrap;
    color: var(--secondary);




}



.header-container__p {
    color: var(--header);
    font-size: 2rem;

}


.navbar {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    padding: 5em 0 0 0;
    margin: 0 5rem 0 5rem;


}

.navbar--background {}

.navbar--rotate {
    transform: skew(10deg) rotate(10deg);
}

.nav__button {
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
    margin: 1rem 1rem 1rem 1rem;
    position: relative;
    white-space: nowrap;
    transition: padding 1s;
    

}

.nav__button--background {
    background-color: var(--secondary);
    color: var(--black);
    border: none;
    text-decoration: none;
    
    




    box-shadow: -10px 10px 0 5px var(--primary);
}


.nav__button--rotate {
    transform: rotate(-10deg);
}

.nav__button:hover {

    background: var(--hover);
    
    box-shadow: 0 0 5px 0 var(--shadow);
}

.nav__button:hover::before {
    content: 'jumpTo ( "';
    font-size: 1.5rem;
    position: absolute;
    color: var(--secondary);
    left: -8rem;
    animation: jump-to 50ms linear;
}

.nav__button:hover::after {
    content: '" )';
    font-size: 1.5rem;
    right: -2rem;
    color: var(--secondary);
    position: absolute;
    animation: brackets 50ms linear;
}

@keyframes brackets {
    0% {
        font-size: 3rem;
        transform: translateX(15px);
    }

    100% {
        font-size: 1.5rem;
        transform: translateX(0px);
    }
}

@keyframes jump-to {
    0% {
        font-size: 2rem;
        transform: translateX(-15px);
    }

    100% {
        font-size: 1.5rem;
        transform: translateX(0px);
    }
}


.main--background {
    background-color: var(--background);
}

.main-top-decoration--background {
    position: relative;
    aspect-ratio: 1 / 0.2;
    isolation: isolate;
    overflow: hidden;
   
}

.main-top-decoration--background::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background-color: var(--primary);
    transform: skewY(-10deg) translateY(-50%) ;
}

.spiral-container {
    display: flex;
    position: absolute;
    inset: 0;
}

.spiral__img {
    transition: padding 0.2s;
}

.spiral__img:hover {
    padding-bottom: 5rem;
}

.spiral__img:nth-of-type(1) {
    transform: translateY(calc(-100% + 15vw));
}

.spiral__img:nth-of-type(2) {
    transform: translateY(calc(-108% + 15vw));
}

.spiral__img:nth-of-type(3) {
    transform: translateY(calc(-116% + 15vw));
}

.spiral__img:nth-of-type(4) {
    transform: translateY(calc(-124% + 15vw));
}

.spiral__img:nth-of-type(5) {
    transform: translateY(calc(-132% + 15vw));
}

.spiral__img:nth-of-type(6) {
    transform: translateY(calc(-140% + 15vw));
}



.scary-face {
    display: none;
    position: absolute;
    width: 30%;
    height: auto;
    inset: 0;
    transform: translateX(-35%) rotate(-20deg);
    transition: transform 2s;
    z-index: -1;

}

.hide-scary-face {

    transition: transform 1.5s;
    transform: none;

}

.projects {
    margin-top: 4rem;
    margin-bottom: 10rem;
    
   
   
    
}

.projects__title {
    font-size: 5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: var(--header-2);
    border-bottom: 2px solid var(--primary);
    margin: 0 2rem 0 2rem;
    
  
}

.projects-title-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}


.projects--background {
    position: relative;
    isolation: isolate;
}

.projects--background::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(-5deg);
    margin: 20rem 0 0 0;

    background-color: var(--primary);
}



.project-container {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin: 5rem auto;
    max-width: 1440px;

    
    

}

.project__img {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    border: 5px dashed var(--primary);
    border-radius: 20px;
   
    
}

.project-container__card {
    height: 100%;
    position: relative;
}

.project-container__card-wrapper {
    position: relative;
   
   
    display: flex;
    flex-direction: column;
    
    height: 100%;


    
}


.project-container__card-description {

    
    padding: 1em 1em 1em 1em;
    color: #fff;
    font-size: 1.3rem;
   



}

.project-container a {
    

}

.project-container a:link {
    text-decoration: none;
}

.project-container__btn-wrapper {
    display: flex;
    justify-content:flex-start;
    gap: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
   
    
    
}

.project-container__card-btn {

    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: none;
    color: #fff;
    border: dashed 2px var(--hover);
    transition: transform 0.2s;
    
    

}

.disable-btn {
    pointer-events: none;
    opacity: 50%;
}


.project-footer-container {
    margin-top: auto;
    

}

.project-tech {
   
    


}

.project-tech img {
    padding: 0 .2em 0 .2em;

}


.project-container__card-btn:hover {
    opacity: 90%;
    transform: scale(1.2);
}

.project__p-name {
    color: var(--hover);
    font-size: 2rem;

    text-align: center;
   
}

.skills {
    margin-top: 5rem;
    text-align: center;
   

}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
    margin: 5rem auto;
    padding: 0 2rem;
}

.skills__p {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    color: var(--text);
}

.skills__title--background {
    position: relative;
    isolation: isolate;
    background-color: var(--primary);




}

.skills__title--background::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--header-foreground);
    border-top: var(--header-foreground-border);
    border-bottom: var(--header-foreground-border);


    transform: skewY(5deg);
    box-shadow: 0 0 5px 0 var(--shadow);
    z-index: -1;
}

.skills__title {
    padding: 1em 0 1em 0;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: var(--header);
    text-shadow: var(--text-shadow);

}

.skills__list {
    color: var(--white);
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.skills__list span {
    background-color: var(--frontground);
    color: var(--secondary);
    padding: 0.5rem 1rem;
    border-radius: 5px;

    text-align: center;
    white-space: nowrap;
}

.about-me {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    

}

.about-me__p {
    font-size: 1.3rem;
}

.about-me-wrapper {
    position: relative;
    isolation: isolate;
    

}

.about-me__title {

    padding: 1em 0 1em 0;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: var(--header);

}

.about-me__title--background {
    position: relative;
    isolation: isolate;
    background-color: var(--primary);
    text-shadow: var(--text-shadow);
}

.about-me__title--background::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--header-foreground);
    border-top: var(--header-foreground-border);
    border-bottom: var(--header-foreground-border);

    transform: skewY(5deg);
    box-shadow: -10px 0 5px 0 var(--shadow);
    z-index: -1;
}

.about-me-contact {
    border-left: dashed 5px var(--primary);

}

.contact__title--background {
    position: relative;
    isolation: isolate;
    background-color: var(--primary);
    text-shadow: var(--text-shadow);
}

.contact__title--background::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--header-foreground);
    border-top: var(--header-foreground-border);
    border-bottom: var(--header-foreground-border);

    transform: skewY(-5deg);
    box-shadow: 10px 0 5px 0 var(--shadow);
    z-index: -1;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1em 0 1em 0;
    color: var(--text);



}

.contact-details a {
    margin-top: 1.5rem;
    fill: var(--secondary);
}

.contact-details a:hover {
    fill: var(--hover);
}


.about-me-container {

    margin: 5rem auto;
    padding: 0 2rem;
   
    max-width: 40rem;

    color: var(--text);



}

@media (max-width: 1100px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .header-container {
        margin: 0 auto 0 0;
        padding-left: 1rem;
    }

    .header-container__h1-hello {
        font-size: 2.5rem;
        transform: rotate(0deg)
    }

    .header-container__p-name {
        font-size: 1rem;
        transform: rotate(0deg)
    }

    .navbar--rotate {
        transform: none;
    }

    .nav__button--rotate {
        transform: none;
    }

    .project-container {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        margin: 1rem;
    }

    .project-container__card-description {

        font-size: 1rem;
    
    
    }

    .project-container__card--border-top {
        border-top: dashed 5px var(--grey);

    }

    .projects__title {
        font-size: 2rem;
        
      
    }

    .skills__title {
        font-size: 2rem;
    }

    .about-me__title {
        font-size: 2rem;
    }

    .about-me__p {
        font-size: 1rem;
    }

    .project-container__card-btn {

        padding: 0.5rem 1rem;
        font-size: 1.3rem;
        
        
    
    }

    .about-me {

        display: grid;
    
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    
    }

    .projects--background::before {
       
        margin: 10rem 0 0 0;
    }

    .project__p-name {
        font-size: 1.5rem;
    }

    .skills__list {
        font-size: 1.5rem;
    }


}

/*tablet size*/
@media  (min-width: 1101px) and (max-width: 1300px) {

    .nav__button:hover::after,
    .nav__button:hover::before {
        content: '';
    }

    .project-container {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        margin: 3em 3em 3em 3em;
    }

    

}